//Servicios
.servicio-1 {
  height: 29vh;
  background-image: url(../img/servicio-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; 
  @include small {
    height: 38vh;  
  }
  @include medium {
    height: 20vh;  
  }
  @include large {
    height: 27vh;  
  }
  @include x-large {
    height: 30vh;  
  }
}

.servicio-2 {
  height: 29vh;
  background-image: url(../img/servicio-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; 
  @include small {
    height: 38vh;  
  }
  @include medium {
    height: 20vh;  
  }
  @include large {
    height: 27vh;  
  }
  @include x-large {
    height: 30vh;  
  }
}

.servicio-3 {
  height: 29vh;
  background-image: url(../img/servicio-3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; 
  @include small {
    height: 38vh;  
  }
  @include medium {
    height: 20vh;  
  }
  @include large {
    height: 27vh;  
  }
  @include x-large {
    height: 30vh;  
  }
}


//Why Us
.article-why-us {
  height: 190px;
  height: -webkit-fill-available;
  background-image: url(../img/why-us.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;  

  @include x-small {
    height: 145vh;  
  } 
  @include small {
    height: 145vh;  
  } 
  @include medium {
    height: 95vh;  
  }
  @include large {
    height: 120vh;  
  }
  @include x-large {
    height: 80vh;  
  }
}

//Ubicacion
.section-location {
  height: 110vh;
  height: -webkit-fill-available;
  background-image: url(../img/location.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;  
  object-fit: cover;

  @include x-small {
    height: 103vh;  
  } 
  @include small {
    height: 135vh;  
  } 
  @include medium {
    height: 55vh;  
  }
  @include large {
    height: 70vh;  
  }
  @include x-large {
    height: 73vh;  
  }
}

//pag About-us
.header-about-us {
  background-image: url(../img/carousel-4-small.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left; 
  margin-top: 3.5rem;
  padding-top: 2.5rem;
  padding-bottom: 0.7rem;
  @include small {
    margin-top: 5rem;
    padding-top: 3.8rem; 
  }
  @include medium {
    margin-top: 4.5rem;
    padding-top: 3rem; 
  }
  @include large {
    padding-top: 7rem; 
  }
}


//pag servicios
.header-servicios {
  background-image: url(../img/carousel-2-small.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left; 
  margin-top: 3.5rem;
  padding-top: 2.5rem;
  padding-bottom: 0.7rem;
  @include small {
    margin-top: 5rem;
    padding-top: 3.8rem; 
  }
  @include medium {
    margin-top: 4.5rem;
    padding-top: 3rem; 
  }
  @include large {
    padding-top: 8rem; 
    padding-bottom: 0;
  }
}

// sass --watch assets/sass/main.scss:assets/css/main.css
