//sass --watch assets/sass/main.scss:assets/css/main.css

//Servicios
.servicio-1 {
  height: 28vh;
  background-image: url(../img/servicio-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; 
  @include small {
    height: 38vh;  
  }
  @include medium {
    height: 20vh;  
  }
  @include large {
    height: 27vh;  
  }
  @include x-large {
    height: 30vh;  
  }
}

.servicio-2 {
  height: 28vh;
  background-image: url(../img/servicio-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; 
  @include small {
    height: 38vh;  
  }
  @include medium {
    height: 20vh;  
  }
  @include large {
    height: 27vh;  
  }
  @include x-large {
    height: 30vh;  
  }
}

.servicio-3 {
  height: 28vh;
  background-image: url(../img/servicio-3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; 
  @include small {
    height: 38vh;  
  }
  @include medium {
    height: 20vh;  
  }
  @include large {
    height: 27vh;  
  }
  @include x-large {
    height: 30vh;  
  }
}


//Why Us
.article-why-us {
  height: 170vh;
  height: -webkit-fill-available;
  background-image: url(../img/why-us.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;  
  object-fit: cover;

  @include x-small {
    height: 145vh;  
  } 
  @include small {
    height: 145vh;  
  } 
  @include medium {
    height: 95vh;  
  }
  @include large {
    height: 120vh;  
  }
  @include x-large {
    height: 80vh;  
  }
}

//Luis Arancibia22:41  min-height  min-width min-height: 100%  height: 100%  height: min(100%)