.section-location-pg  hr {
  background-color: $green;
  height: 0.092em;
  width: 60.7%;
  margin-top: 0.3rem;
  margin-bottom: 2.7rem;
  margin-left: 0;

  @include x-small {
    width: 45%;
    margin-bottom: 3.2rem; 
  }
  @include small {
    width: 30%; 
  }
  @include medium {
    width: 21.5%; 
    margin-bottom: 2.5rem;
  }
  @include large {
    width: 16%;
    margin-bottom: 2.8rem;
  }
  @include x-large {
    width: 13.5%;
  }
}

.location-icono-map , .location-icono-phone {
height: 1.8rem;
@include medium {
  height: 2.2rem;
}
}

.location-icono-sobre {
height: 1.4rem;
@include medium {
  height: 1.5rem;
}
}
.section-location-pg .img-location {
width: 98%;
@include x-small {
  padding-top: 0.9rem;
}
@include medium {
  width: 100%; 
  padding-top: 0;
}
@include large {
  width: 85%; 
}
@include x-large {
  width: 77%; 
}
}

.section-location-pg h4 {
font-weight: $regular;
font-size: $large-cel;    
@include medium {
  font-size: $large;
}
}

.section-location-pg p {
font-weight: $light-300;
}

.section-location-pg .location-flex {
display: flex;
flex-wrap: nowrap;
}

.section-form hr {
  background-color: $green;
  height: 0.092em;
  width: 66%;
  margin-top: 0.3rem;
  margin-bottom: 1.5rem;
  margin-left: 0;

  @include x-small {
    width: 56%;
    margin-bottom: 3.2rem; 
  }
  @include small {
    width: 40%; 
  }
  @include medium {
    width: 57%; 
    margin-bottom: 2.5rem;
  }
  @include large {
    width: 42.5%;
    margin-bottom: 2.8rem;
  }
  @include x-large {
    width: 35%;
  }
}
.section-form p {
  font-weight: $light-300;
  @include medium {
    font-weight: $regular;
  }
}

.formulario label {
  font-size: $header-cel;
}

.formulario input {
  background-color: transparent;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  border-bottom: 1px solid white;
  color: white;
  font-weight: $light-300;
  padding-left: 0.5rem;
  &:focus {
    color: white;
    background-color: transparent;
    border-color: white;
  }
}

.formulario .input-largo {
  width: 100%;
  @include large {
    width: 25.5rem;
  }
}

.formulario textarea {
  background-color: transparent;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  border-bottom: 1px solid white;
  color: white;
  font-weight: $light-300;
  padding-left: 0.5rem;
  &:focus {
    color: white;
    background-color: transparent;
  }
}

.formulario .div-input-file {
  position: relative;
  border-bottom: 1px solid #fff;
  width: 100%;
  @include large {
    width: 25.5rem;
  }
}
.formulario .button-input-file {
  position: absolute;
  cursor: pointer;
}
.formulario .input-file {
  position: absolute;
  opacity: 0;
}

.formulario .p-input-file {
  padding-top: 0.4rem;
  padding-left: 0.3rem;
  margin-bottom: 0.6rem;
  margin-left: 8.7rem;
  margin-right: 0;
  font-weight: $light-300;
  font-size: $small;
  color: $green;
}


.errorNombre {
  font-size: 0.813rem;   //13
}

.mapa {
  width: 100%;
  height: 240px;

  @include small {
    height: 270px;
  }
  @include medium {
    height: 260px
  }
  @include large {
    height: 270px;
  }
  @include x-large {
    height: 300px;
  }
}