.texto-us-contacto {
  padding-right: 4rem;
  padding-left: 1.5rem;

  @include x-small {
    padding-right: 7.5em;
    padding-bottom: 2.8rem;
  }
  @include small {
    padding-right: 5.2em;
    padding-bottom: 1.4rem;
  } 
  @include medium {
    padding-left: 1.8rem;
    padding-bottom: 2rem;
  }
  @include large {
    padding-left: 1rem;
    padding-bottom: 3.6rem;
  }
  @include x-large {
    padding-left: 0;
    padding-bottom: 5.8rem;
  }
  h2 {
    font-size: $large-23;
    text-shadow: 1px 1px 17px #ffffff;

    @include small {
      font-size: $xx-large;  
    }
    @include medium {
      font-size: $xxx-large;  
    } 
  }

  p {
    font-size: $small-b;
    text-shadow: 1px 1px 17px #ffffff;
    @include x-small {
      font-size: $small-b;  
    }
    @include small {
      font-size: $small;  
    } 
    @include medium {
      font-size: $medium;  
    }
    @include x-large {
      font-size: $header-cel;  
    }
  } 
}

.section-location-pg  hr {
  background-color: $green;
  height: 0.092em;
  width: 60.7%;
  margin-top: 0.3rem;
  margin-bottom: 2.7rem;
  margin-left: 0;

  @include x-small {
    width: 44%;
    margin-bottom: 3.2rem; 
  }
  @include small {
    width: 30%; 
  }
  @include medium {
    width: 21.5%; 
    margin-bottom: 2.5rem;
  }
  @include large {
    width: 16%;
    margin-bottom: 2.8rem;
  }
  @include x-large {
    width: 13.5%;
  }
}

.section-location-pg-en hr {
  width: 51%;

  @include x-small {
    width: 38%;
  }
  @include small {
    width: 26%; 
  }
  @include medium {
    width: 19%; 
  }
  @include large {
    width: 13.5%;
  }
  @include x-large {
    width: 11.5%;
  }
}

.location-icono-map , .location-icono-phone {
height: 1.6rem;
@include medium {
  height: 2rem;
}
}

.location-icono-sobre {
  height: 1.2rem;
  @include medium {
    height: 1.3rem;
  }
}


.section-location-pg h4 {
  font-weight: $regular;
  font-size: 1.125em;  //18  
  @include medium {
    font-size: $met-21;
  }
}

.section-location-pg p {
font-weight: $light-300;
}

.section-location-pg .location-flex {
display: flex;
flex-wrap: nowrap;
}

.section-form hr {
  background-color: $green;
  height: 0.092em;
  width: 66%;
  margin-top: 0.3rem;
  margin-bottom: 0.7rem;
  margin-left: 0;

  @include x-small {
    width: 54%;
    margin-bottom: 2.2rem; 
  }
  @include small {
    width: 40%; 
  }
  @include medium {
    width: 57%; 
    margin-bottom: 2.5rem;
  }
  @include large {
    width: 42.5%;
    margin-bottom: 2.8rem;
  }
  @include x-large {
    width: 35%;
  }
}

.section-form-en hr {
  width: 56%;

  @include x-small {
    width: 47%; 
  }
  @include small {
    width: 33%; 
  }
  @include medium {
    width: 48%; 
  }
  @include large {
    width: 34.5%;
  }
  @include x-large {
    width: 29%;
  }
}
.section-form p {
  font-weight: $light-300;
  @include medium {
    font-weight: $regular;
  }
}

.formulario label {
  font-size: $header-cel;
}

.formulario input {
  background-color: transparent;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  border-bottom: 1px solid white;
  color: white;
  font-weight: $light-300;
  padding-left: 0.5rem;
  &:focus {
    color: white;
    background-color: transparent;
    border-color: white;
  }
}

.formulario .input-largo {
  width: 100%;
  @include large {
    width: 25.5rem;
  }
}

.formulario textarea {
  background-color: transparent;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  border-bottom: 1px solid white;
  color: white;
  font-weight: $light-300;
  padding-left: 0.5rem;
  &:focus {
    color: white;
    background-color: transparent;
  }
}

.formulario .div-input-file {
  position: relative;
  border-bottom: 1px solid #fff;
  width: 100%;
  @include large {
    width: 25.5rem;
  }
}
.formulario .button-input-file {
  position: absolute;
  cursor: pointer;
}
.formulario .input-file {
  position: absolute;
  opacity: 0;
}

input[type=file]::-webkit-file-upload-button {    /* chromes and blink button */
  cursor: pointer; 
}

.formulario .p-input-file {
  padding-top: 0.4rem;
  padding-left: 0.3rem;
  margin-bottom: 0.6rem;
  margin-left: 8.7rem;
  margin-right: 0;
  font-weight: $light-300;
  font-size: $small;
  color: $green;
}


.errorNombre {
  font-size: 0.813rem;   //13
} 

.mapa {
  width: 100%;
  height: 240px;

  @include small {
    height: 270px;
  }
  @include medium {
    height: 260px
  }
  @include large {
    height: 270px;
  }
  @include x-large {
    height: 300px;
  }
}